/* --- Variable colors for reuse --- */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-off: #575757;
  --colour-button-blue: #1e52f0;


  /* typography */
  --inter: 'Inter', sans-serif;
  --arimo: 'Arimo', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}


.btn {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



/* --- Navbar Section --- */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23.5px 115.5px 23.5px 115.5px;
}


#logo {
}

.navMenu {
    display: flex;
    align-items: center;
    gap: 24px;  
    font-family: var(--arimo);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-decoration-style: none;
    list-style: none;
    color: var(--color-off);

}


nav button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 48px;


    gap: 12px;
    padding: 12px;
    background-color: var(--colour-button-blue);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    font-family: var(--inter);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;


}   



/* --- Hero Section --- */



.hero {
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('./assets/banner.jpg');
    background-size: cover;
    height: 786px;
}



.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:278px;
    text-align: center;
    color: var(--color-white);
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-family: var(--arimo);

    margin-top: 136px;
}

.heroTitle {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}

.heroSubtitle {
    height: 108px;
    width: 829px;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.9;
}

#hero-register-btn {
    margin-top: 20px;
    background-color: var(--colour-button-blue);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-family: var(--inter);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;


}