/* --- Variable colors for reuse --- */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-off: #575757;
  --color-fade: #888888;
  --color-button-blue: #1e52f0;
  --color-blue: #2563eb;
  --color-lBlue: #93C5FD;


  /* typography */
  --inter: "Inter", sans-serif;
  --arimo: "Arimo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* --- Navbar Section --- */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23.5px 115.5px 23.5px 115.5px;
}

/* #logo {
} */

.navMenu {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--arimo);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-decoration-style: none;
  list-style: none;
  color: var(--color-off);
}

nav button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 48px;

  gap: 12px;
  padding: 12px;
  background-color: var(--color-button-blue);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  font-family: var(--inter);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* --- Hero Section --- */

.hero {
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("./assets/banner.jpg");
  background-size: cover;
  height: 786px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 278px;
  text-align: center;
  color: var(--color-white);
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: var(--arimo);

  margin-top: 136px;
}

.heroTitle {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
}

.heroSubtitle {
  height: 108px;
  width: 829px;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9;
}

#hero-register-btn {
  margin-top: 20px;
  background-color: var(--color-button-blue);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-family: var(--inter);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* --- Meet the Speakers Section --- */

#speakers {
  margin: 0px 55.5px 43px 55.5px;
  padding: 80px 60px 80px 60px;

  font-family: var(--inter);
}

.speakerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.speakersGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.sectionTitle {
  align-items: center;
  justify-content: center;
  font-family: var(--arimo);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.speakerCard {
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
}

.speakerImg {
  width: 642px;
  height: 324px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.speakerInfo {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.speakerTag {
  color: var(--color-blue);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.speakerName {
  font-style: bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.5px;
}

.speakerTitle {
  color: var(--color-off);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}


/* --- Secure Your Spot (Pricing) Section --- */
#pricingSection {
  background-color: var(--color-light-bg);
  margin: 0px 55.5px 50px 55.5px;
  padding: 0px 60px 80px 60px;

  font-family: var(--inter);

}

.pricingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.pricingHeader h2 {
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
  line-height: 60px;
}

.pricingHeader p {
  color: var(--color-off);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}



.pricingGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 48px;
}

.pricingCard {
  background-color: var(--color-white);
  border: 1px solid rgba(229, 231, 235, 1);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow-light);
}



.pricingPlan {
  color: var(--color-fade);
  font-size:13px;
  font-weight:600;

}

.pricingPrice {
  font-size: 44px;
  font-weight: 700;
  font-style: bold;
  line-height: 44px;
  
  padding-top: 8px;
}

.pricingPriceSub {
  color: var(--color-fade);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;

  padding-top: 4px;
}

.hrLine {
  border: 1px solid rgba(229, 231, 235, 1);;
}

.hrLine.pro {
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.pricingFeatures {
  list-style: none;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex-grow: 1;
}

.pricingFeatureItem {
  display: flex;
  align-items: flex-start;
  font-size: 0.95rem;
  color: #333333;
}

.pricingCard.pro {
background: rgba(13, 27, 42, 1);
  border-color: var(--color-primary-blue);
  color: var(--color-white);
}

.pricingCard.pro .pricingPlan {
  color: #93C5FD;
}

.pricingCard.pro {
  color: var(--color-white);
}


.pricingCard.pro {
  color: #cbd5e1;
}


.pricingBtn {
  padding: 11px 0px 11px 0px;
  width: 100%;
  background-color: var(--color-white);

  font-family: var(--inter);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
}

.pricingBtn.standard {
  border: 1px solid var(--color-blue);
}

.pricingBtn.pro {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.pricingBtn.team {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}